:root {
    --black: #000;
    --font-family: Helvetica;
    --box-shadow-classic: 0 0 2px 2px #a2a2a288;
    --box-shadow-light-input: 0px 0px 2px 2px #8b8b8b4a;
    --box-shadow-light: 0px 0px 3px 3px #8b8b8b4a;
    --box-shadow-hover: 0 0 3px 3px #4f4f4f88;
    --green: #11ff6c;
    --red: #ff1414;
}

body {
    font-family: var(--font-family);
    margin: 0;
}

hr{
    margin: 0;
}

a{
    text-decoration: none;
    color: var(--black);
}

#website-left, #website-right{
    position: absolute;
    top: calc(3vh + 22.5px);
    font-size: 15px;
    bottom: 0;
}

#website-left{
    left: 30px;
}

#website-right{
    right: 30px;
}

#title {
    color: var(--black);
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    margin: 0 0 2px 0;
    padding: 5vh 0;
    box-shadow: var(--box-shadow-classic);
}

.tile-container {
    display: grid;
    margin: 0 1vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.tile {
    padding: 3vh 2vw;
    margin: 1vh min(0.75vw, 1vh);
    box-shadow: var(--box-shadow-classic);
    transition: 0.3s;
    border-radius: 3px;
}

.tile:hover {
    box-shadow: var(--box-shadow-hover);
}

.tile .name {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}

.tile .name a {
    text-decoration: none;
    color: var(--black);
    outline: none;
}

.tile .description {
    text-align: center;
}

.input-title {
    font-size: 25px;
}

.emph {
    font-weight: 900;
    display: inline;
}


.subtitle {
    font-size: 25px;
    font-weight: 600;
    margin: 1vh min(1.75vw, calc(1vw + 1vh)) 0 min(1.75vw, calc(1vw + 1vh));
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
    margin-right: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#output-container {
    background-color: white;
    width: 60vw;
    height: 60vh;
    z-index: 4;
    word-wrap: break-word;
    word-break: break-all;
    padding: 20px;
    border-radius: 20px;
    overflow: auto;
    font-family: attr(font);
}

#output-container #output-title {
    color: black;
    font-size: 18px;
    font-weight: 500;
}

#output-container #output-close {
    border: 0;
    font-size: 18px;
    float: right;
    color: red;
    font-weight: 600;
    background-color: transparent;
}

#shadow {
    position: fixed;
    z-index: 3;
    width: 100vw;
    height: 100vh;
    background-color: #0000005f;
}

.input-group {
    margin: 5px;
    width: fit-content;
    padding: 5px 15px;
    box-shadow: var(--box-shadow-classic);
    border-radius: 5px;
    text-align: center;
}

input {
    padding: 5px;
    margin: 9px auto;
    box-shadow: var(--box-shadow-light-input);
    border: 0;
    box-sizing: border-box;
    width: 200px;
    display: block;
    outline: none;
    border-radius: 4px;
}

.error {
    color: var(--red);
    margin: 5px;
    font-size: 15px;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.2, 1.2);
}

video, canvas{
    display: block;
    margin: 1vh auto;
    max-width: 80vw;
    max-height: 80vh;
}

.button{
    appearance: none;
    display: block;
    border: 1px solid black;
    border-radius: 3px;
    background-color: #fff;
    margin: 0.5vh auto;
}

#page-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#page-header{
    flex: 0 1 auto;
}

#gen-container{
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

#gen-output{
    flex: 8;
}

#gen-controls{
    flex: 2;
    padding: 2vh 2vw;
    background-color: #efefef;
}

.checkbox-group{
    padding: 5px;
    margin: 9px auto;
    box-shadow: var(--box-shadow-light-input);
    border-radius: 4px;
    display: flex;
    align-items: center;
    width: 190px;
}

.checkbox-group input[type="checkbox"]{
    appearance: none;
    background-color: white;
    display: inline;
    box-shadow: none;
    margin: 0;
    border-radius: 0;
    height: 20px;
    width: 20px;
    transition: 0.3s;
    border: 1px solid var(--black);
}

.checkbox-group input[type="checkbox"]:checked{
    background-color: var(--green);
}

.checkbox-group label{
    display: inline;
    font-size: 13px;
    margin: 3px auto;
}

@media (max-width: 800px) {
    .tile-container {
        grid-template-columns: 1fr;
    }
    .tile{
        margin: 1vh;
    }
    .subtitle{
        margin: 0.5vh calc(1vw + 1vh);
    }
    #gen-container{
        flex-direction: column;
    }
    #gen-controls{
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        align-content: start;
    }
    #gen-controls input{
        display: inline;
        margin: 1vh 1vw;
        width: inherit;
    }
    #gen-controls input[type="submit"], #gen-controls input[type="button"]{
        grid-column: 1 / 4;
    }
    #gen-controls .checkbox-group{
        width: auto;
        margin: 1vw 1vh;
    }
    #gen-controls .checkbox-group input[type="checkbox"]{
        width: 20px;
        margin: 0;
    }
}
