@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --black: #000;
    --white: #fff;
    --gray: #f5f5f5;
    --darkgray: #a2a2a288;
    --font-family: "Roboto";
    --box-shadow-classic: 0 0 1px 1px #a2a2a288;
    --box-shadow-light-input: 0px 0px 1px 1px #8b8b8b4a;
    --box-shadow-light: 0px 0px 1px 1px #8b8b8b4a;
    --box-shadow-inset: 0 0 1px 1px #8b8b4a;
    --box-shadow-hover: 0 0 1px 1px #4f4f4f88;
    --green: #11ff6c;
    --red: #ff1414;
}

html {
    scroll-behavior: smooth;
}

#nav {
    box-shadow: var(--box-shadow-classic);
    display: flex;
    padding: 0.5vh 5vw;
}

#nav> :nth-child(2) {
    margin-left: auto;
}

.nav-main,
.nav-button {
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 15px;
}

.nav-main {
    padding: 10px 0px;
}

.main-container {
    padding: 5vh 0;
    margin: 0 5vw;
    width: 90vw;
    display: flex;
    box-shadow: var(--box-shadow-bottom);
}

.left-container {
    flex: 0 0 35%;
    display: flex;
    justify-content: center;
}

.right-container {
    flex: 0 0 65%;
    padding: 10px;
}

h2,
h3,
h4 {
    font-weight: 400;
    margin: 4px 0;
}

#profile-image {
    width: 60%;
    box-shadow: var(--box-shadow-classic);
    border-radius: 20%;
}

body {
    font-family: var(--font-family);
    margin: 0;
}

hr {
    display: block;
    border-top: 1px solid var(--darkgray);
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--black);
}

#page-header {
    flex: 0 1 auto;
    display: flex;
    box-shadow: var(--box-shadow-classic);
    align-items: center;
    z-index: 1;
}

#website-left,
#website-right {
    font-size: 15px;
    margin: 0 30px;
}

#website-left {
    left: 30px;
}

#website-right {
    right: 30px;
}

#title {
    color: var(--black);
    font-size: 30px;
    flex-grow: 1;
    text-align: center;
    font-weight: 600;
    margin: 0 0 1px 0;
    padding: 5vh 0;
}

.tile-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: center;
}

.minitile-container {
    display: flex;
    flex-wrap: wrap;
}

.tile {
    padding: 3vh 2vw;
    margin: 1vh min(0.75vw, 1vh);
    box-shadow: var(--box-shadow-classic);
    transition: 0.3s;
    border-radius: 3px;
}

.minitile {
    padding: 10px 12px;
    margin: 6px;
    box-shadow: var(--box-shadow-classic);
    transition: 0.3s;
    border-radius: 3px;
}

.tile:hover {
    box-shadow: var(--box-shadow-hover);
}

.minitile:hover {
    box-shadow: var(--box-shadow-hover);
}

.tile .name {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
}

.tile .description {
    text-align: center;
}

.input-title {
    font-size: 25px;
}

.emph {
    font-weight: 550;
}


.subtitle {
    text-align: center;
    font-size: 25px;
    font-weight: 550;
    margin: 1vh min(1.75vw, calc(1vw + 1vh));
}

.text {
    text-align: center;
    font-weight: 400;
    margin: 0vh 0 3vh 0;
}

.container {
    padding: 2vh 0;
    margin: 0 5vw;
    text-align: center;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
    margin-right: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#output-container {
    background-color: white;
    width: 60vw;
    height: 60vh;
    z-index: 4;
    word-wrap: break-word;
    word-break: break-all;
    padding: 20px;
    border-radius: 20px;
    overflow: auto;
    font-family: attr(font);
}

#output-container #output-title {
    color: black;
    font-size: 18px;
    font-weight: 500;
}

#output-container #output-close {
    border: 0;
    font-size: 18px;
    float: right;
    color: red;
    font-weight: 600;
    background-color: transparent;
}

#shadow {
    position: fixed;
    z-index: 3;
    width: 100vw;
    height: 100vh;
    background-color: #0000005f;
}

.input-group {
    margin: 5px;
    width: fit-content;
    padding: 20px;
    box-shadow: var(--box-shadow-classic);
    border-radius: 5px;
    text-align: center;
}

input,
select,
textarea {
    padding: 7px;
    margin: 9px auto;
    box-shadow: var(--box-shadow-light-input);
    border: 0;
    box-sizing: border-box;
    width: 100%;
    display: block;
    outline: none;
    border-radius: 4px;
}

textarea{
    resize: none;
}

label {
    display: block;
    width: 100%;
}

input[type="submit"] {
    background-color: var(--gray);
}

.error {
    color: var(--red);
    margin: 5px;
    font-size: 15px;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.2, 1.2);
}

video,
canvas {
    display: block;
    margin: 1vh auto;
    max-width: 80vw;
    max-height: 80vh;
}

.button {
    appearance: none;
    display: block;
    border: 1px solid black;
    border-radius: 3px;
    background-color: #fff;
    margin: 0.5vh auto;
}

#page-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#gen-container {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

#gen-output {
    flex: 3;
}

#gen-controls {
    flex: 1;
    padding: 2vh 2vw;
    background-color: var(--gray);
}

.checkbox-group {
    padding: 7px;
    margin: 9px auto;
    box-shadow: var(--box-shadow-light-input);
    border-radius: 4px;
    display: flex;
    align-items: center;
    width: calc(100% - 14px);
}

.checkbox-group input[type="checkbox"] {
    appearance: none;
    background-color: white;
    display: inline;
    box-shadow: inset var(--box-shadow-light);
    border-radius: 3px;
    margin: 0;
    height: 20px;
    width: 20px;
    transition: 0.3s;
}

.checkbox-group input[type="checkbox"]:checked {
    background-color: var(--green);
}

.checkbox-group label {
    display: inline;
    font-size: 13px;
    margin: 3px 4px;
}

@media (max-width: 800px) {
    .main-container {
        flex-direction: column;
    }

    .right-container {
        text-align: center;
    }

    .minitile-container {
        justify-content: center;
    }

    #profile-image {
        width: min(200px, 60vw);
    }

    /* .tile-container {
        grid-template-columns: 1fr 1fr;
    } */

    .tile {
        margin: 1vh;
    }

    .subtitle {
        margin: 0.5vh calc(1vw + 1vh);
    }

    #gen-container {
        flex-direction: column;
    }

    #gen-controls {
        display: flex;
        align-content: start;
        flex-wrap: wrap;
    }

    #gen-controls input {
        flex-basis: 33vw;
        flex-grow: 1;
        display: inline;
        margin: 5px;
    }

    #gen-controls input[type="submit"],
    #gen-controls input[type="button"] {
        flex-basis: 100%;
        width: 100% !important;
    }

    #gen-controls .checkbox-group {
        margin: 5px;
        flex-basis: 100%;
        width: 100%;
    }

    #gen-controls .checkbox-group input[type="checkbox"] {
        width: 20px !important;
        flex: 0 0 20px;
    }
}


@media (max-width: 600px) {
    .subtitle {
        text-align: center;
    }

    /* .tile-container {
        grid-template-columns: 1fr;
    } */
}