:root {
    --black: #000;
    --font-family: Helvetica;
    --box-shadow-classic: 2.1px 2.1px 2px 2px #00000088;
    --red: #ff1414;
}

body {
    font-family: var(--font-family);
    margin: 0;
}

a{
    text-decoration: none;
    color: var(--black);
}

#website-left, #website-right{
    position: absolute;
    top: calc(3vh + 15px);
    font-size: 15px;
}

#website-left{
    left: 30px;
}

#website-right{
    right: 30px;
}

#title {
    color: var(--black);
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    margin: 0;
    padding: 3vh 0;
}

.tile-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tile {
    width: 20vw;
    padding: 20px;
    margin: 20px;
    box-shadow: var(--box-shadow-classic);
    transition: 0.3s;
}

.tile:hover {
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 5px 5px #00000088;
}

.tile .name {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}

.tile .name a {
    text-decoration: none;
    color: var(--black);
    outline: none;
}

.tile .name::after {
    position: relative;
    content: "";
    display: block;
    border: 1px solid black;
    width: 80%;
    margin: auto;
}

.tile .description {
    text-align: center;
}

.input-title {
    font-size: 25px;
}

.emph {
    font-weight: 900;
    display: inline;
}


.subtitle {
    font-size: 20px;
    font-weight: 600;
    margin: 10px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
    margin-right: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#output-container {
    background-color: white;
    width: 60vw;
    height: 60vh;
    z-index: 4;
    word-wrap: break-word;
    word-break: break-all;
    padding: 20px;
    border-radius: 20px;
    overflow: auto;
    font-family: attr(font);
}

#output-container #output-title {
    color: black;
    font-size: 18px;
    font-weight: 500;
}

#output-container #output-close {
    border: 0;
    font-size: 18px;
    float: right;
    color: red;
    font-weight: 600;
    background-color: transparent;
}

#shadow {
    position: fixed;
    z-index: 3;
    width: 100vw;
    height: 100vh;
    background-color: #0000005f;
}

.input-group {
    margin: 5px;
    width: fit-content;
    padding: 5px 15px;
    box-shadow: var(--box-shadow-classic);
    border-radius: 5px;
    text-align: center;
}

input {
    padding: 5px;
    margin: 9px auto;
    box-shadow: 0px 0.9px 1px 1px #0000004a;
    border: 0;
    box-sizing: border-box;
    width: 200px;
    display: block;
    outline: none;
    border-radius: 4px;
}

.error {
    color: var(--red);
    margin: 5px;
    font-size: 15px;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.2, 1.2);
}

@media (max-width: 800px) {
    .tile-container {
        flex-direction: column;
    }
    .tile{
        width: 80vw;
        margin: 2vh auto;
    }
}

video, canvas{
    display: block;
    margin: 1vh auto;
}

.button{
    appearance: none;
    display: block;
    border: 1px solid black;
    border-radius: 3px;
    background-color: #fff;
    margin: 0.5vh auto;
}