:root{
    /* LIGHT */
    --bg: #efefef;
    --bs: 3px 3px 5px rgba(50, 50, 50, 0.5), -3px -3px 5px rgba(200, 200, 200, 0.5);
    --ibs: inset 3px 3px 7px rgba(50, 50, 50, 0.5), inset -3px -3px 7px rgba(200, 200, 200, 0.5);
    --font1: Tahoma;
    --font2: Arial;
    --font3: sans-serif;
}
body{
    margin: 0;
    background-color: var(--bg);
}
#header{
    width: 60vw;
    padding: 5vh 10vw;
    margin: 7vh auto;
    font-size: 6vh;
    margin-bottom: 5vh;
    text-align: center;
    background-color: var(--bg);
    border-radius: 3vh;
    box-shadow: var(--bs);
    font-family: var(--font1);
}
#nav{
    width: 80vw;
    padding: 1vh 0;
    margin: 2vh auto;
    height: fit-content;
    font-size: 3vh;
    border-radius: 4vh;
    box-shadow: var(--bs);
    background-color: var(--bg);
    text-align:center;
}
canvas{
    margin: auto;
}
#nav button{
    transition: box-shadow 1s;
    appearance: none;
    padding: 2vh 2vw;
    margin: 1vh 1vw;
    border: none;
    width: 16vw;
    font-size: 2vh;
    background-color: var(--bg);
    box-shadow: var(--ibs);
    border-radius: 2vh;
    font-family: var(--font2);
}
#nav button:hover{
    box-shadow: none;
}
.checkbox{
    width: fit-content;
    background-color: var(--bg);
    box-shadow: var(--ibs);
    padding: 1vw 2vw 1vw 1vw;
    margin: 1vh 1vw;
    border-radius: 2vh;
}
.checkbox input.button{
    appearance: none;
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    box-shadow: var(--bs);
    border: 0.4vw solid var(--bg);
    background-image: url('../svg/checkBlack.svg');
    background-size: cover;
    transition: 0.3s;
    margin: 0.8vh 0 0 0.8vw;
}
.checkbox input.slider{
    appearance: none;
    width: 8vw;
    height: 4vw;
    border-radius: 4vw;
    box-shadow: var(--bs),var(--ibs);
    border: 0.6vw solid var(--bg);
    background-size: cover;
    transition: 0.3s;
    margin: 0.8vh 0 0 0.8vw;
}
.checkbox input.slider::before{
    position: relative;
    display: block;
    content: '';
    width: 2vw;
    height: 2vw;
    top: 0.4vw;
    left: 0.6vw;
    background-color: var(--bg);
    box-shadow: var(--bs);
    border-radius: 50%;
    transition: 0.3s;
}
.checkbox input.slider:checked{
    background-color: #51ca6d;
}
.checkbox input.slider:checked::before{
    left: 4.2vw;
}
.checkbox input.button:checked{
    background-image: url('../svg/checkGreen.svg');
    box-shadow: var(--bs), var(--ibs);
    background-color: #fefefe;
}
.checkbox label{
    display: inline;
    position: relative;
    left: 0vw;
    pointer-events: all;
    top: calc(-0.8vw - 0vh);
    font-size: 4vw;
    margin-left: 0.8vw;
}
.input-text{
    appearance: none;
    box-shadow: var(--bs);
    border: none;
    background-color: var(--bg);
    width: 30vw;
    height: 2vh;
    font-size: 2vh;
    border-radius: 4vh;
    padding: 1vh 1vw;
    outline: none;
    text-align: center;
    margin: 1vh 1vw;
    border: 1vh solid var(--bg);
    transition: 0.3s;
}
.input-text:focus{
    box-shadow: var(--bs), var(--ibs);
}
.card{
    width: 76%;
    box-shadow: var(--ibs);
    margin: 5vh auto;
    height: fit-content;
    padding: 3vh 2.5vw;
    font-family: var(--font3);
    border-radius: 3vh;
}
.title-card{
    box-shadow: var(--bs);
    margin-bottom: 3vh;
}
.display-card{
    margin: 2vh auto;
    text-align: center;
    transition: 0.3s;
}
.display-card>h3{
    margin: 1vh 0;
}
.display-card>h5{
    font-weight: 200;
    margin: 0;
}
.display-card:hover{
    box-shadow: none;
}
.canvas-card{
    text-align: center;
}
.canvas-card>canvas{
    margin: 3vh 0;
    border-radius: 2vh;
}
